body{
	font-size: 20px;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: black;
}

h1{
    text-align: center;
}

#ul{
    width: 70%;
    margin: auto;
}

button#startBtn {
    border-radius: 10px;
    height:max-content;
    width: 5%;
}

#option1{
    display: flex;
    justify-content: center;
}

#option2{
    display: flex;
    justify-content: center;
}

#questionBox{
    font-style: italic;
    font-weight: bolder;
    font-size: 25px;
    display: flex;
    justify-content: center;
}

.stop-watch{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.options ul li{
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 20px;
	background-color:purple;
	color:white;
	border: 0px;
	border-radius: 15px;
	padding: 15px;
	cursor: pointer;
	margin-bottom: 10px;
}

.options ul li:hover{
    background-color: magenta;
}

.lf-quiz .options ul li.correct{
    background-color:pink;
}

.lf-quiz .options ul li.wrong{
    background-color:black;
}

.lf-quiz .score {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    border: 2px solid black;
    display: inline-block;
    margin-bottom: 15px;
}

.next{
    display:flex;
    justify-content: center;
}

#btnNext{
    background-color: purple;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: white;
    border-radius: 15px;
    height: 40px;
}

.lf-quiz .score .score-card{
    line-height: 30px;
    font-size: 20px;
}